<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>border布局</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
	<link rel="stylesheet" type="text/css" href="../ext-4.2.1/resources/css/ext-all.css" />
	<script type="text/javascript" src="../ext-4.2.1/bootstrap.js"></script>
	<script type="text/javascript" src="../ext-4.2.1/locale/ext-lang-zh_CN.js"></script>
	<script type="text/javascript" src="layout&border.js"></script>
  </head>
  
  <body>
  </body>
</html>
