<html>
<head>
<TITLE>Ext.Template.overwrite方法举例</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../ext-4.0.2/resources/css/ext-all.css" />
	<script type="text/javascript" src="../ext-4.0.2/bootstrap.js"></script>
	<script type="text/javascript" src="../ext-4.0.2/locale/ext-lang-zh_CN.js"></script>
<style type="text/css">
body{
	font-size:11pt;
	color:black;
	padding:5px;
}
</style>
<script type="text/javascript">
	Ext.onReady(function(){
		var tpl = new Ext.Template(//定义模板
			'<table  border=1 cellpadding=0 cellspacing = 0>',
			'<tr><td width=90>姓名</td><td width=90>{name}</td></tr>',
			'<tr><td>年龄</td><td>{age}</td></tr>',
			'<tr><td>性别</td><td>{sex}</td></tr>',
			'</table>'
		);
		//模板值和模板进行组合并将新生成的节点插入到id为'tpl-table'的元素中
		tpl.overwrite('tpl-table',{name:'小王',age:25,sex:'男'});
	});
</script>
</head>
<body>
	<div id='tpl-table'>
		<div>员工信息</div>
	</div>
</body>
</html>
